.THIS 
{
    background-color:#fff;
    border-radius:5px;
    overflow:hidden;
    width:100%;
    height:100vh;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:10px;
    padding-right:10px;
    outline: none;
    background-image: url(/resource/dreampassscannerbg);
    background-size: cover;
}

.THIS .scancard {
    float:left; 
    width:350px;
    margin-left:20px;
    border-radius:25px !important;
    border-style:solid;
    border-color: #479FDA;
    border-width:3px;
    height:550px;
}
.THIS .videocard { 
    overflow:hidden;
    min-height:170px;
    max-width:500px;
}

.THIS .slds-icon_container_circle
{
    border-style:solid;
    border-width:2px;
    border-color:#fff;
}

.THIS .iframescan { 
    width:100%;
    height:400px;
    padding-left:20px;
}

.THIS .slds-form-element__static
{
    color: #fff;
}

.THIS a:link, .THIS a:visited 
{
    color: #fff;
}

@media screen and (max-width: 950px) {
    .THIS {
        background-image: none;
    }
    .THIS .scancard { 
        float: none;
        margin-left:0;
        margin-right:0;
        width:auto;
        margin-bottom:100px;
    }
    
    .THIS .iframescan {
        width:50%;
        padding-left:0;
        margin-top:10px;
        height:210px;
    }
    
    .THIS .videocard 
    {
        max-width:inherit;
        position:fixed;
        bottom:10px;
        right:0px;
        overflow:auto;
        min-height:auto;
        text-align:right;
        margin-right:20px;
    }
}