.THIS #video {
  width:320px;
  
}

.THIS #photo {
  width:320px;
  
}

.THIS #canvas {
  display:none;
}

.THIS .camera {
  width: 340px;
  padding-bottom: 5px;
}

.THIS .output {
  width: 340px;
  padding-bottom: 5px;
}

.THIS .contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}